$black : #090A0E;
$gold : #FBDC6A;
$silver : #ECF1F2;

//shadow effects. deep shadow on hover over clickables
$softShadow : 0 .25em .5em 0 $gold;
$deepShadow : 0 2em 4em 0 $gold;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $black;
    font-family: sans-serif;
}

.header {
    background: $black;
    color: $silver;
    font-weight: bolder;
    height: 4em;
    margin-top: 2em;
    text-align: center;
    line-height: 4em;
    text-decoration: dashed underline overline;
    text-decoration-color: $silver;
    text-decoration-thickness: 0.25em;
}

.grid {

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    .card {
        margin: 1em;
        transition: 0.3s;
        padding: 1em;
        text-align: center;
        background-color: $silver;
        box-shadow: $softShadow;

        .poster {
            width: 11.5em;
            height: 17.25em;
            border: 2px solid $black;
            box-shadow: $softShadow;
            //shadow effect
            &:hover {
                padding: 0;
                margin: -0.5em;
                width: 12em;
                height: 18em;
                box-shadow: $deepShadow;
            }
        }

        .title {
            background-color: $silver;
            text-align: center;
            margin-top: 0.5em;
            width: 100%
        }
    }
}

.detailsContainer {
    background-color: $black;
    height: auto;
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;

    .detailsCard {
        grid-column-start: 2;
        background-color: $silver;
        width: auto;
        height: auto;
        box-shadow: $softShadow;
        padding: 1em;
    }

    .detailsBtn {
        background-color: $silver;
        height: 6em;
        width: 6em;
        border-radius: 1em;
        margin: auto;
        font-weight: bolder;
        box-shadow: $softShadow;
        //shadow effect
        &:hover {
            box-shadow: $deepShadow;
        }

        .back {
            background-color: #ECF1F2;
            font-size: 2em;
        }

    }

    .detailsImg {
        grid-column: 2 / 3;
        align-items: center;
        justify-content: center;
        margin: auto;
        box-shadow: $deepShadow;
    }

    .detailsText {
        background-color: $silver;
    }

    p {
        padding: 1em;
    }

    h1,
    h3 {
        padding: .5em;
    }

}